<%- include('partials/header') %>
<div class="social_wrapper">
  <div class="social_content social_ct1">
    <div class="ready">
      <i class="fas fa-key fa-4x"></i>
      <h2 class="showcase_title">Social Networking</h2>
    </div>
    <p class="now_you">
      Your Universe, your Thoughts are living, share them and connect the world
      to you...
    </p>
    <div class="button_deal">
      <a href="/register" class="btn btn-light">Register</a>
      <a href="/login" class="btn btn-dark">Login</a>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
