<%- include('partials/header') %>
<div class="new_build_wrapper">
  <main class="some_user_info">
    <div class="main_content">
      <h1 class="title_info">Login</h1>
      <form action="/login" class="field_info_reg" method="POST">
        <div class="control_form ctf_log_reg">
          <label for="email" class="inside_form">Email</label>
          <input type="email" name="username" class="content_form" />
        </div>
        <div class="control_form ctf_log_reg">
          <label for="password" class="inside_form">Password</label>
          <input type="password" name="password" class="content_form" />
        </div>
        <button type="submit" class="btn btn-dark">Login</button>
      </form>
    </div>
  </main>
  <aside class="choose_your_log">
    <div class="aside_content">
      <div class="stick_brand">
        <a class="btn btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          Sign Up with Google
        </a>
      </div>
      <div class="stick_brand">
        <a class="btn btn-facebook" href="/auth/facebook" role="button">
          <i class="fab fa-facebook"></i>
          Sign Up with Facebook
        </a>
      </div>
    </div>
  </aside>
</div>
<%- include('partials/footer') %>
