<%- include("partials/header") %>
<div class="secret_response_wrapper">
  <div class="secrets_content">
    <i class="fas fa-key fa-4x"></i>
    <h1 class="display-4">You've Discovered My Secret!</h1>
  </div>
  <% usersWithSecrets.forEach(function(user){%>
  <div class="lovely"><p class="lovely_secret"><%=user.secret%></p></div>
  <% }); %>

  <hr />
  <div class="your_turn">
    <a href="/logout" class="btn btn-light" role="button">Log Out</a>
    <a href="/submit" class="btn btn-dark" role="button">Submit a Secret</a>
  </div>
</div>
<%- include("partials/footer") %>
