<%- incldude("partials/header") %>
<div class="secret_response_wrapper">
  <div class="secrets_content">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
  </div>
  <% usersWithSecrets.forEach(function(user){%>
  <p class="lovely_secret"><%=user.secret%></p>
  <% }); %>

  <hr />
  <div class="your_turn">
    <a href="/logout" class="btn btn_light" role="button">Log Out</a>
    <a href="/logout" class="btn btn_dark" role="button">Submit a Secret</a>
  </div>
</div>
<%- incldude("partials/footer") %>
