<%- include('partials/header') %>
<div class="social_wrapper">
  <div class="social_content social_ct2">
    <div class="ready">
      <i class="fas fa-key fa-4x"></i>
      <h2 class="showcase_title">Secrets</h2>
    </div>
    <p class="now_you">Your Secrets !, share them anonymously</p>
    <form action="/submit" class="field_info" method="POST">
      <div class="control_form ctf_secrets">
        <label for="secret" class="inside_world">
          <i>every growth days</i></label
        >
        <input
          type="text"
          name="secret"
          class="content_form"
          placeholder="what has been your secret?"
        />
      </div>
      <button type="submit" class="btn btn-light">Submit</button>
    </form>
  </div>
</div>
<%- include('partials/footer') %>
